/* I am using Fira Sans as the font for my website
 * It is provided by Google Fonts
 * Fira Sans' license: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Make sure that the text is nice and readable
 * and use my selected font */
* {
    font-size: large;
    font-family: 'Fira Sans', sans-serif;
}

/* Give the page my choosen theme
 * with a high contrast between the background
 * colours and the text */
body {
    background-color: hsl(239, 94%, 19%);
    color: white;
}

/* Give each button a colour in keeping with
 * the pages theme. Round the corners of the buttons
 * and remove the border to make them look softer.
 * I've also spaced them apart and used flex-box
 * to automatically space the text and icon
 * on each button */
button {
    background-color: hsl(201, 100%, 36%);
    color: white;
    border: 0;
    border-radius: 12px;
    margin: 1%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

/* Use CSS Grid to automatically
 * arrange the buttons within their
 * div container */
 #hand-selection-buttons {
    display: grid;
}

/* I've spaced the sections of the page.
 * I want the div containing the buttons
 * and the footer of the page to be visibly
 * apart from each other */
body > * {
    margin: 1% 0;
}

/* Space the social media links
 * automatically using CSS Grid */
footer #social-media {
    display: grid;
    justify-content: space-evenly;
}

/* Remove the highlighting for
 * hyperlinks which have been visited.
 * Colour the links to fit in with the
 * sites theme. */
footer a {
    text-decoration: none;
    color: hsl(190, 77%, 88%);
}
