/* I am using Fira Sans as the font for my website
 * It is provided by Google Fonts
 * Fira Sans' license: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Make sure that the text is nice and readable
 * and use my selected font */
* {
    font-size: large;
    font-family: 'Fira Sans', sans-serif;
}

/* Give the page my choosen theme
 * with a high contrast between the background
 * colours and the text */
body {
    background-color: hsl(239, 94%, 19%);
    color: white;
}

/* Give each button a colour in keeping with
 * the pages theme. Round the corners of the buttons */
button {
    background-color: hsl(201, 100%, 36%);
    color: white;
    border-radius: 12px;
}
